@page
@model WebApplication2.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<body style="background-color:#D3CBB5">
    <div class="text-center">
        <h1>About Our Company</h1>
    </div>
       
    
    <div class="text-center">
        <br />
        <h2>Our Mission</h2>
        <p>
            Our mission is to provide high-quality products and services that exceed our customers' expectations.
        </p>
        <br />
        <h2>Our Team</h2>
        <p>
            Our team is composed of experienced professionals who are passionate about their work.
        </p>
        <br />
        <h2>Our History</h2>
        <p>
            Our company was founded in 2010 and has since grown to become a leader in our industry.
        </p>
        <br />
    </div>
    
</body>
